.hexagon{
  width: 100px;
  height: 100px;
  position: relative;
}
.hexagon-top, .hexagon-bottom{
  position: absolute;
  content: '';
  display: block;
  width: 100px;
  height: 50px;
  border: 100px solid transparent;
  left: 0;
  right: 0;
}
.hexagon-top{
  border-bottom: 100px solid #000;
  top: 0;
}
.hexagon-bottom{
  border-top: 100px solid #000;
  bttom: 0;
}
